@page
@using agents_app.Code
@model agents_app.Pages.Results

@{
    Layout = "_Layout";
    var computers = World.GetFoundComputers().ToList();
    computers.Sort((c1, c2) => c1.Parameters.Cost.CompareTo(c2.Parameters.Cost));
}

<h1 class="title">
    Proposed computers for you - please select one:
</h1>

<form action="Chosen">
    <ol>
        @{
            var i = 0;
            foreach (var computer in computers)
            {
                <li class="box">
                    <input type="radio" id="input_@i" name="computer" value="@computer.Name" checked>
                    <label for="input_@i" class="title is-5">@computer.Name</label><br>
                    Cost: <strong>@computer.Parameters.Cost</strong> <br>
                    Divergence: <strong>@computer.Parameters.DivergenceFromUserInputParameters(World.UserInputParameters)</strong> <br>
                    <a href="@computer.Link">@computer.Link</a> <br>
                </li>
                i++;
            }
        }
        <br>
        <input type="submit" class="input" value="Submit!">
    </ol>
</form>